{% extends 'base.html' %}

{% from "show_links.html" import show_links %}

{% block title %}Question{% endblock %}

{% block nav %}
  {{ show_links(user) }}
{% endblock %}

{% block body %}
  <div class="jumbotron">
    <h1>{{ question_info['question_text'] }}</h1>
    <p>{{ question_info['answer'] }}</p>
    <p><a class="btn btn-primary btn-lg">Asked By: {{ question_info['asker_name'] }}</a></p>
    <p><a class="btn btn-primary btn-lg">Answered By: {{ question_info['expert_name'] }}</a></p>
  </div>
{% endblock %}